<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

<h:head>
    <title>TIMETABLE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <h:outputStylesheet name="bootstrap/css/bootstrap.min.css"/>
    <h:outputStylesheet name="css/main.css"/>

    <h:outputScript library="bootstrap" name="js/bootstrap.bundle.min.js"/>
    <h:outputScript library="jquery" name="jquery.min.js"/>

    <h:outputScript library="easyautocomplete" name="jquery.easy-autocomplete.min.js"/>
    <h:outputStylesheet name="easyautocomplete/easy-autocomplete.min.css"/>

    <h:outputScript library="scripts" name="main.js"/>
    <script type="text/javascript">
        function onMessage(message, channel, event) {
            if (message === selectedStation) {
                updateTimeTable()
            } else {
                updateStations(message);
            }
        }
    </script>
</h:head>
<h:body>
    <div class="col text-center">
        <div class="row">

        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="form-group timeTableFormsInput">
                    <label for="selectStationForTimeTable">SELECT STATION </label>
                        <input class="form-control stationSelectAuto text-center" autocomplete="off"
                               id="selectStationForTimeTable"
                               placeholder="start typing"/>
                    <div class="alert-danger text-center" id="alertErrorStation"></div>
                    <input class="text" type="hidden" id="getStationsPath" value="#{timeTableBean.getStationsPath}"/>
                    <input class="text" type="hidden" id="getTimeTablePath" value="#{timeTableBean.getTimeTablePath}"/>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col text-center" id="timeTableContainer">

            </div>
        </div>
        <div class="row">
            <div class="modal" id="myModal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content text-center">
                        <div class="modal-header d-flex justify-content-center">
                            <h4 class="modal-title" id="myModalTitle"></h4>
                        </div>
                        <div class="modal-body text-center" id="myModalBody">
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button type="button" class="butt" data-dismiss="modal" style="width: 40%">Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <f:websocket channel="updateChannel" onmessage="onMessage"/>
</h:body>
</html>
